.animation_wrapper{
    width: 50;
    height: 600px;
    background-color:white;
        position:relative;
        margin:auto;
        top:50px;
        
}
.animation{
    posistion:absolute;
    background-color: darkred;
    width: 200px;
    height: 200px;
    animation-name: animation_div move;
    animation-timing-function: 5s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes animation_div {

0%{
    background-color: darkgoldenrod;
    height: 100px;
    width: 100px;

}
25%{
    background-color: black;
    height: 200px;
    width: 200px;

}
50%{
    background-color: green;
    width:200px;
    height: 200px;
}
100%{
    background-color: maroon;
    width: 100px;
    height: 100px;
}
}
@keyframes move{
    from(top: 0px;)
    to(top: 300px;)
